:root {
    /* Typography */
    --font-family: Arial, Helvetica, sans-serif;
    --font-weight-bold: 700;

    /* Colors */

    --color-primarylight: #7082b8;
    --color-primary: #f8f8f2;
    --color-primarydark: #ff79c6;
    --color-successlight: #0f0;
    --color-success: #0c0;
    --color-successdark: #090;
    --color-errorlight: #fd4545;
    --color-error: #ff2d2d;
    --color-errordark: #c62424;
    --color-secondarylight: #AAA;
    --color-secondary: #8be9fd;
    --color-secondarydark: #666;
    --color-warninglight: #ffc281;
    --color-warning: #ffb86c;
    --color-warningdark: #e6a055;
    --color-infolight: #a0a0ff;
    --color-info: #7070ff;
    --color-infodark: #4040ff;
    --color-welllight: #44475a;
    --color-well: #363948;
    --color-white: #fff;
    --color-black: #282a36;
    --color-tag-1: #d34448;
    --color-tag-2: #50fa7b;
    --color-tag-3: #f1fa8c;
    --color-tag-4: #bd93f9;
    --color-tag-5: #ff79c6;
    --color-tag-6: #6495ed;
    --color-tag-7: #faffdf;
    --color-disabled: #66cfbc;
    --color-backgroundprimary: #282a36;
    --color-backgroundsecondary: #21222c;
    --color-button: #21222c;

    /* Spacing */

    --spacing-xs: 0.125em;
    --spacing-s: 0.25em;
    --spacing-m: 0.5em;
    --spacing-l: 0.75em;
    --spacing-xl: 1em;
}

/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Body */
body {
    font-family: var(--font-family);
}