:host {
  box-sizing: border-box;
  display: block;
  width: 53%;
}

:host([data-fullwidth]) {
  width: 100%;
}

input {
  box-sizing: border-box;
  background-color: var(--color-backgroundsecondary);
  border: 1px solid var(--color-welllight);
  border-radius: var(--border-radius-base);
  outline: none;
  padding: var(--spacing-s) var(--spacing-m);
  color: var(--color-primary);
  width: 100%;
}
