.sidebar {
  display: grid;
  grid-area: explorer;
  grid-template-rows: minmax(0px, 1fr);

  height: 100vh;
  background-color: var(--color-primarybackground);
  border-right: 1px solid var(--color-welllight);
  color: var(--color-primary);
}

.container {
  background-color: var(--color-primarybackground);
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  width: var(--width-sm);
}

.header {
  -moz-box-align: center;
  align-items: center;
  border-bottom: 1px solid var(--color-welllight);
  display: grid;
  font-size: var(--font-size-sm);
  line-height: 1.5rem;
}

h1 {
  font-family: var(--font-family-secondary);
  padding: 0.75rem 1.5rem;
}

aside {
  align-content: start;
  overflow-y: auto;
  display: grid;
}