.item {
  background-color: var(--color-backgroundprimary);
  display: grid;
  height: 2rem;
  grid-template-columns: auto 1fr auto;
  padding: 0.4rem;
  position: relative;
}

.item[data-header] {
  padding: 0.1rem 0.012rem;
  font-weight: var(--font-weight-bold);
  cursor: default;
}

.item:hover {
  background-color: var(--color-backgroundsecondary);
  cursor: pointer;
}

.item[data-header]:hover {
  background-color: unset;
}

.item a:first-child:last-child {
  padding: 0px 1.5rem;
  grid-column: 1 / 4;
}

.item a {
  row-gap: 1.5rem;
  -moz-box-align: center;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  -moz-box-pack: justify;
  justify-content: space-between;
}

a {
  cursor: pointer;
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
}
